@import '../../styles/base/variables';

.footer {
  background: $primary-black;
  color: $white;
  padding: $spacing-xl 0;
  text-align: center;
  
  .footer-content {
    p {
      margin: 0;
      opacity: 0.8;
    }
  }
}